.contato-avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .contato-details {
    padding-left: 20px;
    border-left: 1px solid #eee;
     flex: 1;
    overflow: hidden;
     display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contato-details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contato-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .contato-list-item {
    padding: 20px;
    background: white;
    display: flex;
  }
   @media (min-width: 600px) {
    .contato-list-item {
      margin: 20px;
      border: 1px solid #d5d8df;
      border-radius: 4px;
    }
  }